body{
  margin-left: 20px;
  background-color: #35363A;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: auto;
}

.btn {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 5px;
}

.btn:hover{
  background: rgb(16, 16, 16);
}

.fa-trash-alt{
  color: rgb(206, 19, 19);
  font-size: 20px;
}

.fa-edit{
  color: rgb(110, 110, 245);
  font-size: 20px;
}

.btn2 {
  background-color: gray;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 75px;
}
 
input{
  padding: 6px;
  border: none;
  border-radius: 3px;
}

select{
  padding: 6px;
  border: none;
  border-radius: 3px;
}

.container2{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.delete-btn{
  border: none;
  background: transparent;
  cursor: pointer;
}

.delete-row{
  width: 30px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-right: 50px;
}

td,th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
  color: #35363A;
}


th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkorange;
  color: white;
}

.active {
  background-color: black;
}

.menu{
  padding-left: 0px;
}

.menuItem{
  display: inline;
  background-color: darkorange;
  border: 1px solid darkorange;
  padding: 20px;
}
.menuItemactive{
  display: inline;
  background-color: #35363A;
  box-sizing: border-box;
  border: 1px solid darkorange;
  padding: 20px;
}

.menuItemLink{
  text-decoration: none;
  padding: 20px;
  color: white;
}

h1{
  padding-top: 20px;
  border-bottom: 3px solid darkorange;
  width: 70%;
}

h2{
  border-bottom: 2px dashed darkorange;
  width: 70%;
}

#left{
  width: 80px;
  margin-right: 235px;
}

#right{
  width: 80px;
}

dt{
  font-weight: bold;
  padding-top: 10px;
  border-bottom: 1px dotted darkorange;
}

p{
  width:90%;
}

form{
  width: 100%;
}

table, th, td{
  border: 1px solid black;
}