<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Strickland Realty</title>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
  </head>
  <body>
    <div class="container">
    <ul class="menu">
      <li class="menuItem"><a class="menuItemLink" href="index">Home</a></li>
      <li class="menuItem"><a class="menuItemLink" href="listings">Listings</a></li>
      <li class="menuItem"><a class="menuItemLink" href="realtors">Realtors</a></li>
      <li class="menuItemactive"><a class="menuItemLink" href="buyers">Buyers</a></li>
      <li class="menuItem"><a class="menuItemLink" href="sellers">Sellers</a></li>
      <li class="menuItem"><a class="menuItemLink" href="realtors-buyers">Realtors-Buyers</a></li>
    </ul>
    </div>
    <div>
      <h1>Buyers</h1>
      <p>This page will allow you to update buyers.</p>
    </div>
    <div>
      <table>
        <caption>Buyers</caption>
        <thead>
          <tr>
            {% for key in Buyers[0].keys() %}
              <th>{{ key }}</th>
            {% endfor %}
            <th class="delete-row"></th>
            <th class="delete-row"></th>
          </tr>
        </thead>
        <tbody>
          {% for Buyer in Buyers %}
            <tr>
              {% for key in Buyer.keys() %}
                <td>{{ Buyer[key] }}</td>
              {% endfor %}
              
              <form id="deletebuyer" action="/buyers" method="post">
                <td><button class="delete-btn" type="submit" name="delete_button" value="{{ Buyer.BuyerID }}"><i class="fas fa-trash-alt"></i></button></td>
              </form>

              <form id="deletebuyer" action="/buyers" method="post">
                <td><button class="delete-btn" type="submit" name="edit_button" value="{{ Buyer.BuyerID }}"><i class="far fa-edit"></i></button></td>
              </form>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      <h2>Add a New Buyer</h2>
      <div class="container2">
        <form id="addbuyer" action="/buyers" method="post">
          <p>
            <label>
              First Name:
              <input type="text" name="fname_input" size="30" maxlength="100" required>
            </label>
            <label>
              Last Name:
              <input type="text" name="lname_input" size="30" maxlength="100" required>
            </label>
          </p>
          <p>
            <label>
              Email:
              <input type="text" name="email_input" size="30" maxlength="100" required>
            </label>
            <label>
              Phone Number:
              <input type="text" name="phone_input" size="30" maxlength="100" required>
            </label>
          </p>
          <p>
            <button class="btn" type="submit" name="add_button" value="add_buyer">Add Buyer</button>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>