<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Strickland Realty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
  </head>
  <body>
    <ul class="menu">
      <li class="menuItem"><a class="menuItemLink" href="index">Home</a></li>
      <li class="menuItem"><a class="menuItemLink" href="listings">Listings</a></li>
      <li class="menuItem"><a class="menuItemLink" href="realtors">Realtors</a></li>
      <li class="menuItemactive"><a class="menuItemLink" href="buyers">Buyers</a></li>
      <li class="menuItem"><a class="menuItemLink" href="sellers">Sellers</a></li>
      <li class="menuItem"><a class="menuItemLink" href="realtors-buyers">Realtors-Buyers</a></li>
    </ul>
    <div>
      <h1>Buyers</h1>
      <p>This page will allow you to update buyers.</p>
    </div>
    <div>
      <h2>Update a Buyer</h2>
      <form id="updatebuyer" action="/buyers" method="post">
        <fieldset>
          <legend>Update Buyer</legend>
          <p>
            <label>
              Buyer ID: {{ Buyer.BuyerID }}
            </label>
          </p>
          <p>
            <label>
              First Name:
              <input type="text" name="fname_update" size="30" maxlength="100" value="{{ Buyer.FirstName }}" required>
            </label>
            <label>
              Last Name:
              <input type="text" name="lname_update" size="30" maxlength="100" value="{{ Buyer.LastName }}" required>
            </label>
          </p>
          <p>
            <label>
              Email:
              <input type="text" name="email_update" size="30" maxlength="100" value="{{ Buyer.Email }}" required>
            </label>
            <label>
              Phone Number:
              <input type="text" name="phone_update" size="30" maxlength="100" value="{{ Buyer.Phone }}" required>
            </label>
          </p>
          <p>
            <button class="btn" type="submit" name="update_button" value="{{ Buyer.BuyerID }}">Update Buyer</button>
          </p>
        </fieldset>
      </form>
    </div>
  </body>
</html>