<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Strickland Realty Listings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
  </head>
  <body>
    <ul class="menu">
      <li class="menuItem"><a class="menuItemLink" href="index">Home</a></li>
      <li class="menuItemactive"><a class="menuItemLink" href="listings">Listings</a></li>
      <li class="menuItem"><a class="menuItemLink" href="realtors">Realtors</a></li>
      <li class="menuItem"><a class="menuItemLink" href="buyers">Buyers</a></li>
      <li class="menuItem"><a class="menuItemLink" href="sellers">Sellers</a></li>
      <li class="menuItem"><a class="menuItemLink" href="realtors-buyers">Realtors-Buyers</a></li>
    </ul>
    <div>
      <h1>Listings</h1>
      <p>This page will allow you to update real estate listings.</p>
    </div>
    <div>
      <table>
        <caption>Listings</caption>
        <thead>
          <tr>
            {% for key in Listings[0].keys() %}
              <th>{{ key }}</th>
            {% endfor %}
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for Listing in Listings %}
            <tr>
              {% for key in Listing.keys() %}
                <td>{{ Listing[key] }}</td>
              {% endfor %}
              <td><button class="btn2" type="button">Delete Listing</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      <h2>Add a New Listing</h2>
      <form id="addlisting" action="/listings" method="post">
        <fieldset>
          <legend>New Listing</legend>
          <p>
            <label>
              Street Address:
              <input type="text" name="address_input" size="70" maxlength="100" required>
            </label>
          </p>
          <p>
            <label>
              City:
              <input type="text" name="city_input" size="30" maxlength="100" required>
            </label>
            <label>
              State:
              <input type="text" name="state_input" size="2" maxlength="2" required>
            </label>
            <label>
              ZIP:
              <input type="number" name="zip_input" size="5" maxlength="5" required>
            </label>
          </p>
          <p>
            <label>
              Price:
              <input type="number" name="price_input" size="50" maxlength="100" required>
            </label>
            <label>
              Description:
              <input type="text" name="description_input" size="50" maxlength="100" required>
            </label>
          </p>
          <p>
            Allows animals?
            <label>
              <input type="radio" name="animals" value="yes">Yes
            </label>
            <label>
              <input type="radio" name="animals" value="no" checked="checked">No
            </label>
          </p>
          <p>
            <label>
              Beds:
              <input type="number" name="beds_input" size="3" maxlength="3" required>
            </label>
            <label>
              Baths:
              <input type="number" name="baths_input" size="3" maxlength="3" required>
            </label>
          </p>
          <p>
            <label>
              Sq Feet:
              <input type="number" name="squarefeet_input" size="6" maxlength="6" required>
            </label>
            <label>
              List Date (YYYYMMDD):
              <input type="number" name="date_input" size="8" maxlength="8" required>
            </label>
          </p>
          <p>
            <label>
              Number of Stories:
              <input type="number" name="stories_input" size="2" maxlength="2" required>
            </label>
          </p>
          <p>
            Garage:
            <label>
              <input type="radio" name="garage" value="attached">Attached
            </label>
            <label>
              <input type="radio" name="garage" value="detached">Detached
            </label>
            <label>
              <input type="radio" name="garage" value="none" checked="checked">None
            </label>
          </p>
          <p>
            Rent or Sale?
            <label>
              <input type="radio" name="rentsale" value="rent">Rent
            </label>
            <label>
              <input type="radio" name="rentsale" value="sale" checked="checked">Sale
            </label>
          </p>
          <p>
            <label>
              Realtor:
              <input type="text" name="realtor_input" size="20" maxlength="100">
            </label>
            <label>
              Buyer:
              <input type="text" name="buyer_input" size="20" maxlength="100">
            </label>
            <label>
              Seller:
              <input type="text" name="seller_input" size="20" maxlength="100" required>
            </label>
          </p>
          <p>
            <button class="btn" type="submit">Add Listing</button>
          </p>
        </fieldset>
      </form>
    </div>
    <div>
      <h2>Update a Current Listing</h2>
      <form>
        <fieldset>
          <legend>Update Listing</legend>
          <p>
            <label>
              Listing ID:
              <input type="number" name="id_update" size="5" maxlength="5">
            </label>
          </p>
          <p>
            <label>
              Street Address:
              <input type="text" name="address_update" size="70" maxlength="100">
            </label>
          </p>
          <p>
            <label>
              City:
              <input type="text" name="city_update" size="30" maxlength="100">
            </label>
            <label>
              State:
              <input type="text" name="state_update" size="2" maxlength="2">
            </label>
            <label>
              ZIP:
              <input type="number" name="zip_update" size="5" maxlength="5">
            </label>
          </p>
          <p>
            <label>
              Price:
              <input type="number" name="price_update" size="50" maxlength="100">
            </label>
            <label>
              Description:
              <input type="text" name="desription_update" size="50" maxlength="100">
            </label>
          </p>
          <p>
            Allows animals?
            <label>
              <input type="radio" name="animals_update" value="yes">Yes
            </label>
            <label>
              <input type="radio" name="animals_update" value="no">No
            </label>
          </p>
          <p>
            <label>
              Beds:
              <input type="number" name="beds_update" size="3" maxlength="3">
            </label>
            <label>
              Baths:
              <input type="number" name="baths_update" size="3" maxlength="3">
            </label>
          </p>
          <p>
            <label>
              Sq Feet:
              <input type="number" name="squarefeet_update" size="6" maxlength="6">
            </label>
            <label>
              List Date (YYYYMMDD):
              <input type="number" name="date_update" size="8" maxlength="8">
            </label>
          </p>
          <p>
            <label>
              Number of Stories:
              <input type="number" name="stories_update" size="2" maxlength="2">
            </label>
          </p>
          <p>
            Garage:
            <label>
              <input type="radio" name="garage_update" value="attached">Attached
            </label>
            <label>
              <input type="radio" name="garage_update" value="detached">Detached
            </label>
            <label>
              <input type="radio" name="garage_update" value="none">None
            </label>
          </p>
          <p>
            Rent or Sale?
            <label>
              <input type="radio" name="rentsale_update" value="rent">Rent
            </label>
            <label>
              <input type="radio" name="rentsale_update" value="sale">Sale
            </label>
          </p>
          <p>
            <label>
              Realtor:
              <input type="text" name="realtor_update" size="20" maxlength="100">
            </label>
            <label>
              Buyer:
              <input type="text" name="buyer_update" size="20" maxlength="100">
            </label>
            <label>
              Seller:
              <input type="text" name="seller_update" size="20" maxlength="100">
            </label>
          </p>
          <p>
            <button class="btn" type="button">Find Listing</button>
            <button class="btn" type="button">Update Listing</button>
          </p>
        </fieldset>
      </form>
    </div>
  </body>
</html>
