<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Strickland Realty</title>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
  </head>
  <body>
    <div class="container">
    <ul class="menu">
      <li class="menuItem"><a class="menuItemLink" href="index">Home</a></li>
      <li class="menuItem"><a class="menuItemLink" href="listings">Listings</a></li>
      <li class="menuItem"><a class="menuItemLink" href="realtors">Realtors</a></li>
      <li class="menuItem"><a class="menuItemLink" href="buyers">Buyers</a></li>
      <li class="menuItem"><a class="menuItemLink" href="sellers">Sellers</a></li>
      <li class="menuItemactive"><a class="menuItemLink" href="realtors-buyers">Realtors-Buyers</a></li>
    </ul>
    </div>
    <div>
      <h1>Realtors-Buyers</h1>
      <p>This page will allow you to view realtors and buyers who have worked together.</p>
    </div>
    <div>
      <table>
      {% if context['RealtorsBuyers'] %}
        <caption>Realtors</caption>
        <thead>
          <tr>
            {% for key in context['RealtorsBuyers'][0].keys() %}
              <th>{{ key }}</th>
            {% endfor %}
            <th class="delete-row"></th>
            <th class="delete-row"></th>
          </tr>
        </thead>
        <tbody>
          {% for RealtorBuyer in context['RealtorsBuyers'] %}
            <tr>
              {% for key in RealtorBuyer.keys() %}
                <td>{{ RealtorBuyer[key] }}</td>
              {% endfor %}
  

              <form id="deleterealtor-buyer" action="/realtors-buyers" method="post">
                <input type="hidden" name=realtor_id value="{{ RealtorBuyer.RealtorID }}">
                <input type="hidden" name=buyer_id value="{{ RealtorBuyer.BuyerID }}">
                <td><button class="delete-btn" type="submit" name="delete_button" value=""><i class="fas fa-trash-alt"></i></button></td>
              </form>

              <form id="deleterealtor-buyer" action="/realtors-buyers" method="post">
                <input type="hidden" name=realtor_id value="{{ RealtorBuyer.RealtorID }}">
                <input type="hidden" name=buyer_id value="{{ RealtorBuyer.BuyerID }}">
                <td><button class="delete-btn" type="submit" name="edit_button" value=""><i class="far fa-edit"></i></button></td>
              </form>
            </tr>
          {% endfor %}
        </tbody>
      {% else %}
        <p>No results found.</p>
      {% endif %}
      </table>
    </div>
    <div>
      <h2>Add a New Realtor-Buyer Relationship</h2>
      <div class="container2">
      <form id="addrealtorbuyer" action="/realtors-buyers" method="post">
          <p>
            <label for="realtor_input">
                Realtor:
                <select name="realtor_id" id="realtors">
                  {% for Realtor in context['Realtors'] %}                    
                     <option value="{{Realtor['RealtorID']}}">Name: {{Realtor['FirstName']}}, ID: {{Realtor['RealtorID']}}</option>
                  {% endfor %}
                </select>
            </label>
          </p>
          <p>
            <label for="buyer_input">
                Buyer:
                <select name="buyer_id" id="buyers">
                  {% for Buyer in context['Buyers'] %}                    
                     <option value="{{Buyer['BuyerID']}}">Name: {{Buyer['FirstName']}}, ID: {{Buyer['RealtorID']}}</option>
                  {% endfor %}
                </select>
            </label>
          </p>
          <p>
            <button class="btn" type="submit" name="add_button" value="add_realtorbuyer">Add Relationship</button>
          </p>
      </form>
      </div>
  </body>
</html>