<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Strickland Realty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
  </head>
  <body>
    <ul class="menu">
      <li class="menuItem"><a class="menuItemLink" href="index">Home</a></li>
      <li class="menuItem"><a class="menuItemLink" href="listings">Listings</a></li>
      <li class="menuItem"><a class="menuItemLink" href="realtors">Realtors</a></li>
      <li class="menuItem"><a class="menuItemLink" href="buyers">Buyers</a></li>
      <li class="menuItemactive"><a class="menuItemLink" href="sellers">Sellers</a></li>
      <li class="menuItem"><a class="menuItemLink" href="realtors-buyers">Realtors-Buyers</a></li>
    </ul>
    <div>
      <h1>Sellers</h1>
      <p>This page will allow you to update sellers.</p>
    </div>
    <div>
      <table>
        <caption>Sellers</caption>
        <thead>
          <tr>
            {% for key in Sellers[0].keys() %}
              <th>{{ key }}</th>
            {% endfor %}
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for Seller in Sellers %}
            <tr>
              {% for key in Seller.keys() %}
                <td>{{ Seller[key] }}</td>
              {% endfor %}
              <td><button class="btn2" type="button">Delete Seller</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      <h2>Add a New Seller</h2>
      <form id="addseller" action="/sellers" method="post">
        <fieldset>
          <legend>New Seller</legend>
          <p>
            <label>
              First Name:
              <input type="text" name="fname_input" size="30" maxlength="100" required>
            </label>
            <label>
              Last Name:
              <input type="text" name="lname_input" size="30" maxlength="100" required>
            </label>
          </p>
          <p>
            <label>
              Email:
              <input type="text" name="email_input" size="30" maxlength="100" required>
            </label>
            <label>
              Phone Number:
              <input type="text" name="phone_input" size="30" maxlength="100" required>
            </label>
          </p>
          <p>
            <label>
              RealtorID:
              <input type="text" name="realtor_id" size="20" maxlength="100">
            </label>
          </p>
          <p>
            <button class="btn" type="submit">Add Seller</button>
          </p>
        </fieldset>
      </form>
    </div>
    <div>
      <h2>Update a Seller</h2>
      <form>
        <fieldset>
          <legend>Update Seller</legend>
          <p>
            <label>
              Seller ID:
              <input type="number" name="id_update" size="5" maxlength="5" required>
            </label>
          </p>
          <p>
            <label>
              First Name:
              <input type="text" name="fname_update" size="30" maxlength="100" required>
            </label>
            <label>
              Last Name:
              <input type="text" name="lname_update" size="30" maxlength="100" required>
            </label>
            
          </p>
          <p>
            <label>
              Email:
              <input type="text" name="email_update" size="30" maxlength="100" required>
            </label>
            <label>
              Phone Number:
              <input type="text" name="phone_update" size="30" maxlength="100" required>
            </label>
          </p>
          <p>
            <label>
              Realtor First Name:
              <input type="text" name="realtor_fname_update" size="20" maxlength="100">
            </label>
            <label>
              Realtor Last Name:
              <input type="text" name="realtor_lname_update" size="20" maxlength="100">
            </label>
          </p>
          <p>
            <button class="btn" type="button">Find Seller</button>
            <button class="btn" type="button">Update Seller</button>
          </p>
        </fieldset>
      </form>
    </div>
  </body>
</html>